* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    width: 100%;
}

.page {
    position: relative;
    max-width: 780px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}



.guesslist {
    list-style: none;
    float: left;
    width: 50%;
    height: 100%;
}

.guess {
    width: 100%;
}

    .guess > div {
        float: left;
        width: 20%;
        height: 80px;
    }

    .guess .rancherhead {
    }

    .guess .number {
        font-size: 60px;
    }

    .guess .foodtainer {

    }

    .guess .foodtainer img {
        max-height: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, .4)
    }


.dinospot {
    width: 50%;
    float: right;
}

.dinoart {
    height: 200px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.healthbar {
    width:100%;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.healthbar .fullness {
    width: 66%;
    height: 100%;
    background-color: #90EE90;
}


#keypad {
    float: right;
    width: 50%;
    border: 2px solid #D1EEEE;
    background-color: #D1EEEE;
    padding-bottom: 10px;
}

.palette {
    width: 100%;
    height: 15%;
    background-color: white;
}

    .palette > div {
        padding-top: 10px;
        padding-bottom: 10px;
        float: left;
        width: 25%;
        height: 100%;
    }

    .palette .foodtainer.selected {
        background-color: #D1EEEE;
    }

    .palette .foodtainer img {
        max-height: 99%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 2px solid cornflowerblue;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, .4)
    }




.grid {
    width: 100%;
    height: 40%;
}

    .grid .row {
        width: 100%;
        height: 33%;
        margin-top: 10px;
    }

        .grid .row > div {
            width: 33.3%;
            float: left;
        }

        .grid .row .foodtainer {

        }

        .grid .row .foodtainer img {
            max-height: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            border: 2px solid cornflowerblue;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, .4)
        }



@media screen and (max-width: 480px) {
    .dinospot {
        position: absolute;
        width: 100%;
        display: none;
    }

}


/*.container {
    width: 3em;
    height: 3em;
    display: inline-block;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 1em;
    border-radius: 3px;
    background-color: white;
}

.container.selected {
    border: 1px solid rgba(0, 0, 0, .6);
}

.container div {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    border-radius: 3px;          
} 

.settings {
    background: #eee;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    display: inline-block;
}



.large {
    width: 2em;
    height: 2em;
    margin: .5em;
}

.medium {
    width: 1.5em;
    height: 1.5em;
    margin: .75em;
}

.small {
    width: 1em;
    height: 1em;
    margin: 1em;
}



.red {
    background-color: #f00;
}

.green {
    background-color: #0b5;
}

.yellow {
    background-color: #fe0;
}




.true {
    display: block;
}

.false {
    display: none;
}
​*/
