* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    width: 100%;
}

.page {
    position: relative;
    max-width: 780px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.logo {
    background-image: url("images/zendosaurlogo.png");
    width: ;
}

.green {
    background-color: #90EE90;
}

.red {
    background-color: #FFB6C1;
}

.guesslist {
    list-style: none;
    float: left;
    width: 50%;
    height: 100%;
}

.guess {
    width: 100%;
    clear: both;
}

    .guess > div {
        float: left;
        width: 20%;
        height: 80px;
    }

    .guess .rancherhead {
    }

    .guess .number {
        font-size: 60px;
    }

    .guess .foodtainer {

    }

    .guess .foodtainer img {
        max-height: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, .4)
    }


.dinospot {
    width: 50%;
    float: right;
}

.dinoart {
    height: 200px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.healthbar {
    width:100%;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.healthbar .fullness {
    width: 66%;
    height: 100%;
    background-color: #90EE90;
}


#keypad {
    float: right;
    width: 50%;
    border: 2px solid #D1EEEE;
    background-color: #D1EEEE;
    padding-bottom: 10px;
}

.palette {
    width: 100%;
    height: 15%;
    background-color: white;
}

    .palette > div {
        padding-top: 10px;
        padding-bottom: 10px;
        float: left;
        width: 25%;
        height: 100%;
    }

    .palette .foodtainer.selected {
        background-color: #D1EEEE;
    }

    .palette .foodtainer img {
        max-height: 99%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 2px solid cornflowerblue;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, .4)
    }




.grid {
    width: 100%;
    height: 40%;
}

    .grid .row {
        width: 100%;
        height: 33%;
        margin-top: 10px;
    }

        .grid .row > div {
            width: 33.3%;
            float: left;
        }

        .grid .row .foodtainer {

        }

        .grid .row .foodtainer img {
            max-height: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            border: 2px solid cornflowerblue;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, .4)
        }



@media screen and (max-width: 480px) {
    .dinospot {
        position: absolute;
        width: 100%;
        display: none;
    }

}

#zen_rule .foodtainer {
}
.foodtainer.nut.small {
  background:url('../assets/small_nut.png');
}
.foodtainer.nut.medium {
  background:url('../assets/med_nut.png');
}
.foodtainer.nut.large {
  background:url('../assets/large_nut.png');
}

.foodtainer.plant.small {
  background:url('../assets/small_plant.png');
  
}
.foodtainer.plant.medium {
  background:url('../assets/med_plant.png');
  
}

.foodtainer.plant.large {
  background:url('../assets/large_plant.png');
  
}
.foodtainer.insect.small {
  background:url('../assets/small_insect.png');
  
}
.foodtainer.insect.medium {
  background:url('../assets/med_insect.png');
  
}
.foodtainer.insect.large {
  background:url('../assets/large_insect.png');

}

.rancherhead.happy {
  background-color: #90EE90;
}
.rancherhead.sad {
  background-color: #FFB6C1;

}  


