.container {
    width: 3em;
    height: 3em;
    display: inline-block;
    border: 1px solid black;
    margin: 1em;
}

.large {
    width: 3em;
    height: 3em;
    margin: 0;
}

.medium {
    width: 2em;
    height: 2em;
    margin: .5em;
}

.small {
    width: 1em;
    height: 1em;
    margin: 1em;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: #fe0;
}
